html{
  height: 100%;
}

body{
  background-color: #e21414;
  background: -webkit-radial-gradient(#f2d0d0, #e21414);
  height: 100%;
}


div.Title{
  font-family: georgia, serif;
  text-align: center; 
}

div.Game.Picture{
  border: 2px, solid, black;
  height: 200px;
}

p{
  font-family: helvetica, sans-serif;
  text-align: center;
}
