html{
  height: 100%;
}

body{
  background-color: #e21414;
  background: -webkit-radial-gradient(#f2d0d0, #e21414);
  height: 100%;
}

div{
  border-style: solid;
}

.Title{
  font-family: georgia, serif;
  text-align: center; 
}

.Picture{
  position: relative;
  max-width: 200px;
  border:hidden;
}

p{
  font-family: helvetica, sans-serif;
}
