html{
  height: 100%;
}

body{
  max-height: 1000px;
  background-color: #e21414;
  background: -webkit-radial-gradient(#f2d0d0, #e21414);
  background-repeat: no-repeat;
}


div.Title{
  font-family: georgia, serif;
  text-align: center; 
}

img{
  display: block;
  margin: auto;
  width: 25%;
}

p{
  font-family: helvetica, sans-serif;
  text-align: center;
}
